<section id="main">
  <header>
    <h2>輸入你家的食材</h2>
    <div id="icebox">

      <%= link_to (image_tag "../images/icebox.png"), main_ingredient_path %>
<!--       <p>從冰箱輸入</p> -->
    </div>
<h2>OR</h2>
    <div>
      <%= link_to "手動輸入", main_ingredient_path, :class => "button" %>
    </div>
  </header>
</section>