<section id="main" class="container">
  <header>
    <h2>輸入你家的食材</h2>
    <div>
      <%= link_to "冰箱", main_ingredient_path %>
    </div>

    <div>
      <%= link_to "手動輸入", main_ingredient_path %>
    </div>
  </header>
</section>