<section id="banner">
  <section class="box">
  <h2>Foober - 走心私廚到你家</h2>
  <p>讓一天的煩憂跟你的冰箱都一掃而空</p>
  <ul class="actions">
    <li><%= link_to "預約主廚", new_order_path, :class => "button special" %></li>
  </ul>
  </section>
</section>