<section id="main">
  <header>
    <h2>選擇你要的食材和風味</h2>
    <div>
      <p>食材</p>
      <!-- 從冰箱輸入食材 -->
    </div>
    <div>
      <p>風味</p>
        <select id="category" name="category">
            <option value="">-Categroy-</option>
            <option value="1">food</option>
            <option value="1">food2</option>
            <option value="1">food3</option>
            <option value="1">food4</option>
        </select>
      <!-- 下拉式選單 -->
    </div>
    <%= link_to "送出", main_menu_path, :class => "button special" %>
  </header>
</section>