<section id="main">
  <header>
    <h2>推薦菜單</h2>
    <div>
      <p>food_name</p><br>
      <img class="food" src="" alt="">
    </div>

    <div>
      <%= link_to "喜歡", main_success_path, :class => "button special" %>
      <p>/</p>
      <%= link_to "不喜歡", main_success_path, :class => "button"  %>
    </div>
  </header>
</section>