<section id="main" class="container">
  <header>
    <h2>推薦菜單</h2>
    <div>
      <p>food_name</p><br>
      <img class="food" src="" alt="">
    </div>

    <div>
      <%= link_to "喜歡", main_success_path %>
      <p>/</p>
      <%= link_to "不喜歡" %>
    </div>
    <a href="">送出</a>
  </header>
</section>