<section id="main">
  <header>
    <h2>訂單完成</h2>
    <div>
      <p>型男即將前往你家</p><br>
    </div>
    <%= link_to "吃完了嗎?給這次的主廚打個分數吧 :)", main_feedback_path, :class => "button special" %>
  </header>
</section>